@import "tailwindcss";

@theme {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;
  
  --color-base: #fefaf5;
  --color-primary: #ff624f;
  --color-dark: #0f4748;
}

@utility font-heading {
  font-family: var(--font-heading);
}

@utility font-body {
  font-family: var(--font-body);
}